* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

/* section 1 */

/* navbar */
.f-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22rem;
    padding-top: 2vh;
    padding-bottom: 6vh;
}

.f-navbar>a {
    text-decoration: none;
    color: #6d48e5;
    font-weight: 550;
}

.f-navbar>nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.f-navbar>nav>a {
    text-decoration: none;
    color: #364655;
    font-size: 15px;
}

.f-navbar>nav>button {
    background-color: #6d48e5;
    color: white;
    border: none;
    border-radius: 3px;
    width: 4.5rem;
    height: 1.9rem;
    font-size: 14px;
}

/* register section */
.f-register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-block: 4vh;
}

.f-register-section > img {
    padding-bottom: 2vh;
}

.f-register-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.f-register-h1 {
    color: #364655;
    font-weight: 550;
    font-size: 26px;
    letter-spacing: 0.7px;
}

.f-register-p {
    color: #364655d3;
    letter-spacing: 0.4px;
}

.f-register-section > button {
    background-color: #6d48e5;
    color: white;
    border: none;
    border-radius: 3px;
    width: 8rem;
    height: 2rem;
    font-size: 15px;
}

/* partners section */

.f-partners-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-top: 4vh;
}

/* section 1 responsive desktop edit */

#menu,
label {
    display: none;
}

.close {
    display: none;
}

/* section 2 */

/* .a-first-section {
    width: 100%;
    height: 90vh;
    background-color: black;
} */

/* Responsive */


@media (max-width: 440px) {

    /* Youssef first section */
    .f-section1 {
        background: #1e1e1e;
        padding: 3.5vh 2vw;
        position: fixed;
        width: 100%;
    }

    .f-navbar {
        display: none;
    }

    .f-register-section {
        display: none;
    }

    .f-partners-section {
        display: none;
    }

    .label, .close {
        display: block;
    }


}